<div class="flex justify-content-center mt-5">
  <button
    pButton
    pRipple
    label="RSA"
    [routerLink]="['/cryptography/rsa']"
    [routerLinkActive]="['p-button-success']"
    class="p-button-primary mt-5 mr-5 animate__animated animate__fadeInLeft">
  </button>
  <button
    pButton
    pRipple
    label="AES"
    [routerLink]="['/cryptography/aes']"
    [routerLinkActive]="['p-button-success']"
    class="p-button-primary mt-5 ml-5 animate__animated animate__fadeInRight">
  </button>
</div>
