<p-toast></p-toast>
<div *ngIf="existData" class="card animate__animated animate__fadeIn mb-2" style="max-width: 960px; margin: auto;">
  <p-tabView id="closableTabView" (onClose)="onClose($event)" [(activeIndex)]="activeIndex" [scrollable]="true">
    <p-tabPanel [closable]="true" *ngFor="let tab of scrollableTabs" [header]="tab.title">
      <div class="grid">
        <div class="col-12 md:col-4 text-center mt-4">
          <span class="p-float-label" style="display: inline-block;">
            <p-password [feedback]="false" [toggleMask]="true" [disabled]="true"
              [(ngModel)]="tab.content.public_key"></p-password>
            <label htmlFor="number-input">Clave Pública</label>
          </span>
        </div>
        <div class="col-12 md:col-4 text-center mt-4">
          <span class="p-float-label" style="display: inline-block;">
            <p-password [feedback]="false" [toggleMask]="true" [disabled]="true" [(ngModel)]="
                valueToShow === 'iv'
                  ? tab.content.iv
                  : tab.content.private_key
              "></p-password>
            <label htmlFor="number-input">{{ label }}</label>
          </span>
        </div>
        <div class="col-12 md:col-4 text-center mt-4">
          <button
            (click)="onClick(tab.content.public_key, tab.content.private_key, tab.content.iv, tab.title)"
            pButton
            pRipple
            label="Usar claves" class="p-button-help"></button>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
